*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    max-width: 80%;
    padding: 34px;
    margin: 23px;
    margin: auto;
} */
input ,textarea{
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
    width: 80%;
    margin: 11px auto;
    padding: 7px;
    display: block;
}
.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
} 